@using Capstone.Web.Models
@model List<Park>



<h2>List of National Parks</h2>
@foreach (Park p in Model)
{
    <div class="row">
        <div class="col-md-4">
            <img src="~/Content/@(p.Code.ToLower() + ".jpg")" />
        </div>
        <div class="col-md-8">
            .col-md-8
            <div class="row">
                <div class="col-md-6">.col-md-6</div>
                <div class="col-md-6">.col-md-6</div>
            </div>
        </div>

    </div>
    <hr />
}
