/*Weather Icons*/
@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css);

body {
    padding-bottom: 20px;
}


/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/* NavBar Logo =============================================*/
.navbar {
    min-height: auto;
}
.navbar-brand {
    padding: 0px;
}

.nav-main img {
    max-width: 30%;
}

.nav-main .navbar-brand {
    height: 80px;
}

.nav-main .nav > li > a {
    padding:12px;
}

.nav-main .navbar-toggle {
    padding: 10px;
    margin: 25px 15px 25px 0;
}

.green-text-header {
    color: #78c98d;
    font-weight:bold;
}

.img-responsive {
    border-radius: 3px;
}
.logo {
    padding-top: 10px;
}

/*Button Styles ==============================================*/

a.btn-bg {
    background: #78c98d;
    color: #d0f9c7;
    margin-top:15px;
}

    a.btn-bg:hover {
        color: #d0f9c7;
    }

/*Detail Page style =======================================================================*/

/* Detail Info Callouts -----------------------------------------------------*/
.bs-callout {
    padding: 10px 20px;
    margin: 0 0 20px;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

    .bs-callout h4 {
        margin-top: 0;
        margin-bottom: 5px;
    }

    .bs-callout p:last-child {
        margin-bottom: 0;
    }

    .bs-callout code {
        border-radius: 3px;
    }

    .bs-callout + .bs-callout {
        margin-top: -5px;
    }

.bs-callout-default {
    border-left-color: #777;
}

    .bs-callout-default h4 {
        color: #777;
    }

.bs-callout-primary {
    border-left-color: #428bca;
}

    .bs-callout-primary h4 {
        color: #428bca;
    }

.bs-callout-success {
    border-left-color: #78c98d;
}

    .bs-callout-success h4 {
        color: #78c98d;
    }

.bs-callout-danger {
    border-left-color: #d9534f;
}

    .bs-callout-danger h4 {
        color: #d9534f;
    }

.bs-callout-warning {
    border-left-color: #f0ad4e;
}

    .bs-callout-warning h4 {
        color: #f0ad4e;
    }

.bs-callout-info {
    border-left-color: #5bc0de;
}

    .bs-callout-info h4 {
        color: #5bc0de;
    }

.detail-header {
    margin-bottom:25px;
}
/*Quote -------------------------------------------------------*/

.quote {
    width: 70%;
    margin: 0 auto;
}

    .quote hr {
        width: 30%;
        color: black;
        background-color: saddlebrown;
        height: 1px;
    }

/* Weather Icons and Such --------------------------------------------------------*/
.col-md-2 .daily-info-card .weather {
    background-color: #78c98d;
    color: #fff;
    font-size: 45px;
    line-height: 100px;
    padding-top: 5%;
}

    .col-md-2 .daily-info-card .weather i {
        padding-left: 10px;
    } 

.col-md-2 h3 {
    font-size: 1vw;
}

.col-md-2 .text-gray {
    font-size: 0.8vw;
    line-height: 10px;
}

.card {
    border: 1px solid #DCDCDC;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
    float: left;
}

.daily-info-card {
    width: 100%;
    text-align: center;
}

    .daily-info-card .weather {
        background-color: #78c98d;
        color: #fff;
        font-size: 57px;
        line-height: 100px;
        padding-top: 5%;
    }

        .daily-info-card .weather i {
            padding-left: 10px;
        }

    .daily-info-card .date {
        color: #78c98d;
        font-weight: bold;
        font-size: 16px;
        line-height: 50px;
    }

    .daily-info-card h3 {
        padding-top: 0;
        padding-bottom: 5%;
        margin-top: 0;
    }

    .daily-info-card:nth-child(2n+1) {

    }

.text-gray {
    color: gray !important;
    font-weight: bold;
    font-size: 1vw;
    line-height: 20px;
    padding: 0 5px 20px;
    height: 50px;
}

/*Form Styles ==========================================================*/
.survey-form {
    background-color: #78c98d;
    color: white;
    border-color: #7B7B7B;
    border-radius: 3px;
    border: none;
}
.primary-title {
    font-size: 24px;
    width: 80%;
}

.divide-short-green {
    background-color: darkslategray;
    display: block;
    margin-bottom:12px;
    width: 3.5%;
    height: 1px;
}


.survey-form .input-clean {
    font-size: 16px;
    border-color: #7B7B7B;
    border-radius: 3px;
    border: none;
    height: 56px;
    padding: 30px 20px;
    padding: 2rem 2rem;
    width: 100%;
    margin: 3.2px 8px 0px 0px;
    margin: 0.2rem 0.5rem 0rem 0rem;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
    max-width: 100%;
}



.survey-form .input-clean::-webkit-input-placeholder {
    font-size: 16px;
    color: #7B7B7B;
    text-overflow: ellipsis;
}

.survey-form .input-clean:-ms-input-placeholder {
    font-size: 16px;
    color: #7B7B7B;
    text-overflow: ellipsis;
}

.survey-form .input-clean:-ms-input-placeholder {
    font-size: 16px;
    color: #7B7B7B;
    text-overflow: ellipsis;
}

.survey-form .input-clean:placeholder {
    font-size: 16px;
    color: #7B7B7B;
    text-overflow: ellipsis;
}

    .survey-form .input-clean:focus {
        outline-color: #5c6ac4;
        outline: none;
        -webkit-box-shadow: 0 0 0 0.2rem #5c6ac4;
        box-shadow: 0 0 0 0.2rem #5c6ac4;
    }





/* Form Button -------------------------------------*/

.btn-form {
    width: 100%;
    background-color: darkslategrey !important;
    border-color: darkgreen !important;
}



    .btn-form:hover {
        color: #ffffff;
        background-color: darkgreen !important;
        border-color: darkslategrey !important;
    }

    /*Survey Styles =====================================================*/
    .surveyResult {
        border-radius: 3px;
        margin: 2% auto;
        padding: 1%;

    }
    .surveyResult img {
        width: 100%;
    }
        .surveyResult h2 {
            display: inline-block;
            vertical-align: middle;
            float: none;
            margin-top: 0;
            color: saddlebrown;
        }
        .surveyResult a {
            display: inline-block;
            vertical-align: middle;
            float: none;
            margin-top: 0;
            color: saddlebrown;
        }

.vote-circle {
    height: 50px;
    width: 50px;
    border: solid 5px;
    border-radius: 50%;
    color: #78c98d;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.align-middle {
    top: 50%;
}

.vote-text {
    width: 50px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.toggle-button {
    margin-left: 15px;
    margin-bottom: 15px;
}

/* Index Page =============================================*/

.park-list-view {
    padding:20px 0;
}

.park-list-view + .park-list-view {
    border-top:1px solid #efefef;
}

.park-list-view h3 {
    margin-top:0px;
}

.state {
    font-weight: bold;
    margin-bottom:12px;
}